.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: space(xs);

  padding: space(sm) space(md);
  font-size: font-size(md);
  font-weight: 500;

  border-radius: space(sm);
  border: 1px solid var(--border-color);

  background-color: var(--accent);
  color: var(--bg-card);

  cursor: pointer;
  text-decoration: none;

  transition:
    background-color 0.35s ease,
    box-shadow 0.35s ease,
    transform 0.2s ease;
}

.button:hover {
  background-color: color(accent, dark);
  transform: translateY(-2px);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.25);
}
